{{#each blogs as |blog| }}
<div class="row blog box">
  <div class="col">
    <h2>
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    <p>Created by {{blog.user.name}} on {{format_date blog.date_posted}}</p>
    <p>
      {{blog.content}}
    </p>
  </div>
</div>
{{/each}}
